.Total_count{
    position: relative;
    font-family: 'Segoe UI';
    color: red;
    font-size: 150% ;
    
}
.button{
    position: relative;
    background-color: gray; 
    color: black;
    font-size: 200%;
    text-align: center;
    padding: 5px 16px;
    margin-top: 30px;
    
}
.main{
    margin-left: 60px;
    border: 25px solid black;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 50px;
}
  
.box{
    position: center;
    text-align: center;
    font-weight: bold;
    color: black;
    width: 10px;
    /* margin-top: 60px; */
}